@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* Header Navigation */
header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #23252B;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    padding: 0 100px;
    transition: 0.6s;
}

header .logo{
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

header .navigation{
    position: relative;
    line-height: 75px;
}

header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.menu-item > a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 25px 0;
}

.menu-item > a:hover{
    color: #469DFF;
    transition: 0.3s;
}

.menu-item .sub-menu{
    position: absolute;
    background: #23252B;
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

.menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

.menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5 px -30px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover{
    background: #4080EF;
}

.menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
}

.more .more-menu{
    position: absolute;
    background: #23252B;
    list-style: none;
    top: 0;
    left: 100%;
    white-space: nowrap;
    border-radius: 0 8px 8px 8px;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

.more:hover .more-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

.more .more-menu .more-item{
    padding: 7px 0;
    box-shadow: inset 0px -30px 5px -30px rgb(255 255 255 , 0.2);
    transition: 0.3s;
}

.more .more-menu .more-item:hover{
    background: #4080EF;
}
/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* KONTEN */
.konten {
  display: flex; /* Menggunakan flexbox */
}

.left-bar {
  flex: 70%; 
  padding: 10px;
}

.right-bar {
  flex: 30%; 
  padding: 10px;
  margin-right: 30px;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EDUCATION SECTION */
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.slider {
  display: flex;
}

.slide {
  flex: 0 0 100%;
  position: relative;
}

.slide img {
  width: 90%;
  height: 600px;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.active {
  background-color: #555;
}



/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* style tambahan */
#image-container {
    width: 200px;
    height: 200px; 
    overflow: hidden;
    border-radius: 55%; 
}

/* Gaya untuk gambar */
#image-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

ul li.pendidikan {
	padding-top: 0;
	border-top: 0;
}

.menu-btn{
    display: none;
}

.close-btn{
  display: none;
}

/* Button AJAX */
.AjaxButton {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

section .AjaxButton{
  height: 10vh;
}

#ajaxButton {
  background-color: #23252B;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Gallery Section */
.gallery{
  margin: 50px;
  padding: 10px;
  /* max-width: 1100px; */
  background: #f9f9f9;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}

.v-stretch{
  grid-row: span 2;
}

.h-stretch{
  grid-column: span 2;
}

.big-stretch{
  grid-row: span 2;
  grid-column: span 2;
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* responsive Gallery */
@media(max-width: 560px){
  .v-stretch{
    grid-row: span 1;
  }
  .h-stretch{
    grid-column: span 1;
  }
  .big-stretch{
    grid-row: span 1;
    grid-column: span 1;
  }
}

/* SERTIFIKAT SECTION */
.sertifikat .btn-tambah{
  width: 200px;
  height: 40px;
  background-color: #2c7d59;
  color: #fff;
  padding: 0 10px;
  padding-top: 15px;
  border-radius: 10px;
  border-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.sertifikat .btn-tambah p{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.sertifikat .btn-tambah p i {
    font-size: large;
}

.sertifikat .btn-tambah p a{
  margin-left: 10px;
  color: #fff;
}

.table {
  margin-top: 30px;
}

.table tbody {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.table tbody .aksi {
  display: flex;
  justify-content:center;
  align-items:center;
}

.table tbody div{
  font-size: small;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}

.table tbody .lihat button{
  background-color: #f2bb12;
  /* width: 120px; */
  border-radius: 5px;
  padding: 5px;
  border-style: none;
}

.table tbody .edit button{
  background-color: #2c7d59;
  width: 60px;
  border-radius: 5px;
  padding: 5px;
  border-style: none;
}
.table tbody .hapus button{
  background-color: #d83746;
  width: 60px;
  border-radius: 5px;
  padding: 5px;
  border-style: none;
}

.aksi,
.edit,
.hapus {
  border-bottom: none;
}

form .form-group button .submitBtn{
  background-color: #2c7d59;
  width: 300px;
}

/* BackToTop */
#backToTop {
  display:block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #007cbd;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  cursor: pointer;
  z-index: 3;
}

/* Footer */
footer{
  z-index: 2;
  position: relative;
  bottom: -550px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background: #23252B;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  padding: 0 100px;
  transition: 0.6s;
}

/* FOOTER SECTION */

footer {
  margin: 0;
}

.footer-distributed{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 10px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-right i.fa-envelope{
  background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-right .email{
  display: flex;
  align-items: center;
}

.footer-distributed .footer-right .email p{
  font-size: 12px;

}

.footer-distributed .footer-right .email a{
  color: #fff;
  text-decoration: none;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* SIDEBAR STYLE */
.right-bar {
  padding: 3rem 0;
}

.right-bar .articles .pilihan-artikel h4{
 color: #007cbd;
 margin-top: 45px;
}

.right-bar .articles .pilihan-artikel p span{
  color: #999999;
}
.right-bar .articles .pilihan-artikel p a{
  text-decoration: none;
  color: #080808;
  margin-left: 5px;
  font-size: 15px;
}

.right-bar .articles .pilihan-artikel p a:hover{
  color: #2d4d9f;
}

.right-bar .articles img{
  width: 100%;
  height: auto;
  margin-top: 30px;
}


@media (max-width: 880px) {

  footer{
    bottom: 0;
  }
	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 0px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

@media (max-width: 1500px){
  footer{
    bottom: -700px;
  }
}

@media (max-width: 1729px){
  footer{
    bottom: -900px;
  }
}
@media (max-width: 1600px){
  footer{
    bottom: -900px;
  }
}

@media (max-width: 1469px){
  footer{
    bottom: -1400px;
  }
}

@media (max-width: 1209px){
  footer{
    bottom: -2150px;
  }
}

@media (max-width: 1200px){
  footer{
    bottom: -50px;
  }
}

@media (max-width: 1060px){
  footer{
    bottom: 0;
  }
    header .navigation .menu{
        position: fixed;
        display: block;
        background: #23252B;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 90px 50px;
        overflow-y: auto;
        transition: 0.5s;
        transition-property: right;
    }

    header .navigation .menu.active{
        right: 0;
    }

    .menu-item{
        position: relative;
    }

    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }

    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }

    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover{
        color: #4080EF;
        transition: 0.3s;
    }
    
    .more .more-menu{
        opacity: 1;
        position: relative;
        left: 0;
        transform: translateY(0);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        display: none;
    }

    .more .more-menu .more-item{
        box-shadow: none;
    }

    .more .more-menu .more-item:hover{
        background: none;
    }

    .more .more-menu .more-item a{
        margin-left: 20px;
    }

    .close-btn{
        position: absolute;
        background: url(img/cancel.png) no-repeat;
        width: 40px;
        height: 40px;
        background-size: 25px;
        background-position: center;
        top: 0;
        left: 0;
        margin: 25px;
        cursor: pointer;
        display: block;
    }

    .menu-btn{
        background: url(img/menu.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        display: block;
    }

    header{
        padding: 15px 20px;
    }

    .AjaxButton {
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 70px;
    }

    .slide img {
      width: 90%;
      height: 400px;
    }
}